<md-toolbar layout="row">
  <div class="md-toolbar-tools">
    <h2>{{ site.title }}</h2>
    <md-menu-bar>
      <md-menu>
        <button ng-click="$mdOpenMenu()">
          File
        </button>
        <md-menu-content>
          <md-menu-item>
            <md-button disabled="disabled">
              Open&hellip;
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </md-menu-bar>
    <span flex></span>
    <md-button aria-label="Reset View">
      Reset View
    </md-button>
    <md-button aria-label="Toggle Grid" ng-click="ac.toggleGrid()">
      Toggle Grid
    </md-button>
    <md-button aria-label="Toggle Simulation">
      Toggle Simulation
    </md-button>
  </div>
</md-toolbar>
