{
  "env": {
    "browser": true,
    "jquery": true
  },
  "extends": "eslint:recommended",
  "globals": {
    "angular": false,
    "d3": false,
    "Wyliodrin": true
  },
  "parser": "babel-eslint",
  "root": true
}
