.progress {
  position: absolute;
  z-index: 10;
}

#viewport {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#canvas {
  background-color: #f8f8f8;
  display: block;
}

md-divider {
  margin-top: 10px;
}

.md-avatar {
  border-radius: 0;
  vertical-align: middle;
}
