.thumbnail {
  &:hover {
    text-decoration: none;
  }

  .caption {
    border-top: 1px solid #eee;
    font-size: 16px;
    margin: 4px -4px -4px;
    overflow: hidden;
    padding: 8px 4px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
