<div id="modal-code-editor" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-code-editor-label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal-code-editor-label">Code Editor</h4>
      </div><!-- .modal-header -->
      <div class="modal-body">
        <div id="code-editor"></div>
      </div><!-- .modal-body -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
      </div><!-- .modal-footer -->
    </div><!-- .modal-content -->
  </div><!-- .modal-dialog .modal-lg -->
</div><!-- #modal-code-editor .modal .fade -->
