<div id="modal-components" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-components-label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal-components-label">Add Component</h4>
      </div><!-- .modal-header -->
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-4 col-md-3">
            <form>
              <div class="form-group has-feedback">
                <input type="text" class="form-control" id="field-search" placeholder="Search&hellip;">
                <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
              </div><!-- .form-group .has-feedback -->
            </form>
            <hr>
            {% raw %}
              <script id="categories-template" type="text/x-handlebars-template">
                <ul class="nav nav-pills nav-stacked" role="tablist">
                  {{#each categories}}
                    <li role="presentation" {{#if @first}} class="active" {{/if}}>
                      <a href="#category-{{@index}}" aria-controls="category-{{@index}}" role="tab" data-toggle="tab">
                        <span class="badge pull-right">{{components.length}}</span>
                        {{name}}
                      </a>
                    </li>
                  {{/each}}
                </ul>
              </script>
            {% endraw %}
          </div><!-- .col-xs-4 .col-md-3 -->
          <div class="col-xs-8 col-md-9 component-library">
            {% raw %}
              <script id="components-template" type="text/x-handlebars-template">
                <div class="tab-content">
                  {{#each categories}}
                    <div role="tabpanel" class="tab-pane fade {{#if @first}} in active {{/if}}" id="category-{{@index}}">
                      <div class="row">
                        {{#each components}}
                          <div class="col-xs-6 col-md-4 component-library-item">
                            <a class="thumbnail" href="#">
                              <div class="embed-responsive embed-responsive-16by9">
                                <div class="embed-responsive-item" {{#if icon}} style="background-image: url('{{icon}}');" {{/if}}>
                                  {{#if error}}
                                    <span class="text-danger">{{error}}</span>
                                  {{/if}}
                                </div>
                              </div>
                              <h3 class="caption">{{title}}</h3>
                            </a>
                          </div>
                        {{/each}}
                      </div>
                    </div>
                  {{/each}}
                </div>
              </script>
            {% endraw %}
          </div><!-- .col-xs-8 .col-md-9 -->
        </div><!-- .row -->
      </div><!-- .modal-body -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div><!-- .modal-footer -->
    </div><!-- .modal-content -->
  </div><!-- .modal-dialog .modal-lg -->
</div><!-- #modal-components .modal .fade -->
